.idea/
.vscode/
.vs/
cmake-build-debug/
bin/
build/
out/
build-web/
CMakeSettings.json
chemlab.sublime-workspace
chemlab_imgui.ini
imgui.ini
CMakeFiles/
_chemlab_*.tgz
_sync/
chemlab_nodes.json
_sync/
chemlab_scene.toml
chemlab_uis.toml.migrated
_to_delete